* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url("/images/background.png");
    background-size: auto;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 100%;
    vertical-align: baseline;
}

a {
    color: rgba(255, 255, 255);
}

a:hover {
    color: rgba(62, 190, 211);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 1.0);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(62, 190, 211);
    border-radius: 8px;
}

.button.line {
    cursor: pointer;
    display: inline-block;
    color: rgba(255, 255, 255);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0);
    height: 3em;
    line-height: 3em;
    padding: 0 2em 0 2em;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
}

.button.line:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.2s;
}

#header {
    position: absolute;
    color: #bbb;
    width: 100%;
    height: 3.25em;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    line-height: 3.25em;
}

#header #panel {
    width: 100%;
    height: 3.25em;
    transition: 0.5s;
}

#header #panel:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.5s;
}

#header #panel a {
    color: rgb(255, 255, 255);
}

#header #panel h1 {
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 1.25em;
    transition: 0.3s;
}

#header #panel:hover h1 {
    color: rgba(255, 255, 255, 1.0);
    transition: 0.3s;
}

#header #panel #nav {
    position: absolute;
    top: 0;
    right: 1em;
}

#header #panel #nav a {
    color: rgba(255, 255, 255);
    padding: 0 1em 0 2em;
    text-decoration: none;
}

#header #panel #nav #button {
    cursor: pointer;
    display: inline-block;
    color: rgba(255, 255, 255);
    text-decoration: none;
}

#header #panel #nav #button .line {
    display: block;
    position: relative;
    width: 3em;
    height: 4px;
    top: -10px;
    left: 25px;
    background-color: rgba(255, 255, 255);
    border-radius: 4px;
    transform: scale3d(0, 1, 1);
    transition: 0.5s;
}

#banner {
    padding: 35vh 0 45vh 0;
    text-align: center;
}

#banner h1 {
    color: #fff;
    font-size: 3.5em;
    font-weight: 200;
    margin: -0.5em 0 0.5em 0;
}

#banner h2 {
    color: #fff;
    font-size: 1.3em;
    font-weight: 200;
    margin: 0 0 2em 0;
}

#banner .button.line {
    width: 10em;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: f5f5f5;
    padding: 28em 0 28em 0;
}

#about #panel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 500px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    text-align: center;
    transform: scale3d(1, 1, 1);
    transition: 0.5s;
}

#about #panel #avatar {
    position: absolute;
    top: 10%;
}

#about #panel #avatar img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    transform: scale(1.0);
    transition: 0.5s;
}

#about #panel #avatar img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#about #panel #name {
    position: absolute;
    color: rgba(255, 255, 255);
    font-size: 1.5em;
    font-weight: 400;
    top: 33%;
}

#about #panel #icons {
    position: absolute;
    top: 40%;
}

#about #panel #icons img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 0 0.5em 0 0.5em;
    transform: scale(1.0);
    transition: 0.5s;
}

#about #panel #icons img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#about #panel #documents {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    top: 50%;
}

#about #panel #documents #title {
    position: absolute;
    color: rgba(62, 190, 211);
    font-size: 1.25em;
    font-weight: 400;
    left: 5%;
}

#about #panel #documents #links {
    position: absolute;
    color: rgba(62, 190, 211);
    width: 100%;
    top: 10%;
}

#footer {
    background-color: rgba(230, 230, 230);
    padding: 1em 0 1em 0;
    text-align: center;
}

#footer .copyright {
    color: #999;
    font-weight: 200;
    line-height: 1em;
    margin: 1em 0 1em 0;
}

@media screen and (max-width: 880px) {

}

@media screen and (max-width: 500px) {
    #header #panel #nav #button .line {
        display: none;
    }

    #header #panel #nav #button a:hover {
        color: rgba(62, 190, 211);
    }

    #about #panel {
        width: 100%;
    }
}
