* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url("/images/background.png");
    background-size: auto;
    background-attachment: fixed;
    overflow: hidden;
}

@font-face {
    font-family: 'Minecraft World4Play.com';
    src: url("../ttf/minecraft-world4playcom.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 100%;
    vertical-align: baseline;
}

a {
    color: rgba(255, 255, 255);
    transition: 0.5s;
}

a:hover {
    color: rgba(62, 190, 211);
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(62, 190, 211);
    border-radius: 8px;
}

#tile {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(255, 0, 0) 10%,
    rgba(255, 215, 0) 25%,
    rgba(255, 255, 0) 40%,
    rgba(0, 255, 0) 55%,
    rgba(0, 255, 255) 70%,
    rgba(0, 0, 255) 85%,
    rgba(255, 85, 255) 95%);
    background-clip: text;
    background-size: 200% 100%;
    color: transparent;
    font-family: 'Minecraft World4Play.com';
    font-size: 5em;
    font-weight: 600;
    padding: 2.5em 0 0em 0;
    animation: rainbow 15s infinite linear;
}

#time {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(255, 0, 0) 10%,
    rgba(255, 215, 0) 25%,
    rgba(255, 255, 0) 40%,
    rgba(0, 255, 0) 55%,
    rgba(0, 255, 255) 70%,
    rgba(0, 0, 255) 85%,
    rgba(255, 85, 255) 95%);
    background-clip: text;
    background-size: 200% 100%;
    color: transparent;
    font-family: 'Minecraft World4Play.com';
    font-size: 15em;
    font-weight: 600;
    padding: 0em 0 0.1em 0;
    animation: rainbow 10s infinite linear;
}

#infinity {
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(255, 0, 0) 10%,
    rgba(255, 215, 0) 25%,
    rgba(255, 255, 0) 40%,
    rgba(0, 255, 0) 55%,
    rgba(0, 255, 255) 70%,
    rgba(0, 0, 255) 85%,
    rgba(255, 85, 255) 95%);
    background-clip: text;
    background-size: 200% 100%;
    color: transparent;
    font-family: 'Minecraft World4Play.com';
    font-size: 5em;
    font-weight: 400;
    animation: infinity 5s infinite linear;
}

@keyframes rainbow {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

@keyframes infinity {
    0% {
        rotate: 0deg;
        background-position: 100% 0;
    }

    100% {
        rotate: 360deg;
        background-position: -100% 0;
    }
}